@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Menu";
}

<h2>Bar menu</h2>

<ul>
    <li>---</li>
    <li>---</li>
    <li>---</li>
    <li>---</li>
</ul>

<!--New Code
    
    <ul>
    @for (int i = 0; i < ViewBag.NumTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
</ul>-->