@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bartender App</h1>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Want to place an order?</h4>
        <p>
            Click the button below, and follow the instructions to place your order. 
        </p>
        <p><a class="btn btn-default" href="http://localhost:54290/orders/Create">Place an Order &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Not ready to make an order?</h4>
        <p>Take a glance at our new menu!</p>
        <p><a class="btn btn-default" href="http://localhost:54290/Menus">Bar Menu &raquo;</a></p>
    </div>
</div>